<div id="authenticate">
    <form action="/auth" method="post">
        <input type="submit" id="auth-button" value="Authenticate with Last.fm">
    </form>
    <div id="about-auth" class="explanation">
        <p class="highlight summary">In order to start, allow <span class="app">Scrobbular</span> to access your Last.fm data.</p>
        <p>Click the button above to be taken to a Last.fm page that will ask you to give <span class="app">Scrobbular</span> permission to access your data.
        You may have to log in or switch to the correct Last.fm account before giving permission. Once you're back to the user page, you will be given your
        <span class="app">Scrobbular</span> secret and you'll be ready to start scrobbling with ease!</p>
    </div>
</div>

