{% include "header.html" %}
<div id="container">
    <div id="howto" class="explanation">
    <h1>Example Pianobar eventcmd script</h1>
    <p class="summary highlight">Place this in <code>~/.config/pianobar/eventcmd</code>.<p>
    <p>You can download this script by copying and pasting, or clicking the "raw" link and saving the file, or by viewing the gist on Github and clicking the download button.
    Back up <code>~/.config/pianobar/eventcmd</code>, then put this script in its place. Now playing and scrobbles will be posted to Last.fm through Scrobbular.</p>
    </div>
    <script src="https://gist.github.com/782165.js?file=eventcmd"></script>
</div>
{% include "footer.html" %}
