{% include "header.html" %}
    <div id="get-started">
        <a href="/user">Get Started Now ➔</a>
    </div>
    <div id="about" class="explanation">
        <h2>What is Scrobbular?</h2>
        <p class="highlight summary" id="what"><span class="app">Scrobbular</span> makes it easy to scrobble songs to <a href="http://last.fm">Last.fm</a> from anywhere.</p>
        <p>Once you allow access to Last.fm, telling the world about what music you listen to is as simple as sending a message to Scrobbular.
        With <code>curl</code>, that would look something like this:</p>
        <pre>curl -X POST --data \
            "username=&lt;Your Last.fm Username&gt; \
            ss=&lt;Your Scrobbular Secret&gt; \
            track=Red Sky \
            artist=Thrice \
            album=Vheissu \
            duration=258" \
            http://scrobbular.appspot.com/scrobble
        </pre>

        <h2>How do I start using Scrobbular?</h2>
        <p class="highlight summary" id="start">You can start using <span class="app">Scrobbular</span> with your Google Account.</p>
        <p>First, you need to allow <span class="app">Scrobbular</span> to talk to Last.fm on your behalf. You can <a href="/user">manage your user page here</a>
        once you log in with a Google Account. That's it! You can start using <span class="app">Scrobbular</span> by sending simple messages without the need to
        figure out how to use Last.fm's API.</p>
    </div>
{% include "footer.html" %}
