{% include "header.html" %}
        <form action="/submit" method="post">
            <div><label for="username">Last.fm Username: </label><input name="username" type="text"></div>
            <div><label for="session_key">Last.fm Session Key: </label><input name="session_key" type="text"></div>
            <div><input type="submit" value="Set Session Key"></div>
            {% if session_info %}
            <div id="session-info">
            <span class="success">
                Set session key for {{ session_info.user }} to {{ session_info.session_key }} (received key: {{ session_info.received_session_key }})
            </span>
            </div>
            {% endif %}
{% include "footer.html" %}
