#get-started {
    text-align: center;
    font-size: 2em;
    margin: 1.5em auto;
    width: 600px;
}

#what p,
#start p {
    margin-top: 20px;
}

#start {
    margin-top: 50px;
}

#icon {
    display: block;
    margin: auto auto 20px;

}
