html {
    height: 100%;
}

body {
    height: 100%;
    color: #333;
    background: #fff;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

/* Utility */
.clear {
    clear: both;
}

.success {
    background-color: #afa;
}

.app {
    font-weight: bold;
}
