body {
    color: #333;
    background: #fff;
    font-family: sans-serif;
}

#content {
    width: 75%
    clear: both;
}

.section {
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 0;
    background: #33f;
}

.section h2 a {
    padding: 15px;
}

.section h2 a,
.section h2 a:hover {
    color: #fff;
    text-decoration: none;
}

#download {
    float: left;
}

#authenticate {
    float: right;
}

/* Header/Footer */
#header,
#footer {
    border-bottom: 1px solid #ccc;
    padding: 5px 25px;
    background-color: #aaa;
}

#header {
    margin-bottom: 10px;
}

#footer {
    margin-top: 10px;
}

/* Utility */
.clear {
    clear: both;
}
