html {
    height: 100%;
}

body {
    height: 100%;
    color: #333;
    background: #fff;
    font-family: sans-serif;
}

a {
    color: #77f;
}

a:hover {
    color: #55f;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ebebeb;
    padding: 5px 5px 0 2em;
}

code {
    padding: 3px;
    background-color: #ebebeb;
    display: inline;
}

#container {
    margin: auto;
    width: 600px;
}

/* Utility */
.clear {
    clear: both;
}

.success {
    background-color: #afa;
}

.highlight {
    background-color: #ffa;
}

.app {
    font-weight: bold;
}

.light {
    color: #aaa;
}

.summary {
    text-align: center;
}

.explanation {
    margin: 1em auto;
    width: 600px;
    line-height: 1.75em;
}

.user {
    color: #555;
    font-weight: bold;
}

.logout {
    font-size: .75em;
}
