/* Header/Footer */
#header,
#footer {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    background-color: #ccc;
}

#header {
    margin-bottom: 10px;
}

#header h1 {
    display: inline;
    padding-right: 15px;
}

#header h1 a {
    text-decoration: none;
    color: #333;
}

#footer {
    margin-top: 5em;
    padding: 10px 0 5px 0;
}

#footer p {
    margin-left: 10px;
}

