.user-status {
    margin-left: 2em;
}

.user-status .username {
    font-size: 2em;
}

.auth-status {
    color: #333;
    padding: 0 3px;
}

.no-auth {
    background-color: #faa;
}

.auth {
    background-color: #afa;
}

