#container {
    margin: auto;
    width: 600px;
}

.explanation p {
    margin-top: 20px;
}

/* How-to */
#howto {
    margin-top: 50px;
}

/* Secret */
#secret {
   margin-top: 50px; 
}

#secret form,
#authenticate form {
    font-size: 1.75em;
    text-align: center;
}

#secret-input {
    width: 200px;
}

/* Delete */
#delete-account {
    margin-top: 50px;
}

#delete-account #delete {
    font-size: 1.7em;
}

.delete {
    color: #f00;
}

.delete:hover {
    color: #fff;
    background: #f00;
}

#delete-account #really-delete {
    text-decoration: none;
}

#delete-account #cancel {
    color: #333;
    text-decoration: none;
}

#confirm {
    padding-left: 10px;
}

/* Authenticate */
#authenticate {
    margin-top: 25px;
}

#authenticate form input {
    font-size: 50px;
    text-align: center;
}

